html{
    font-family: Roboto, 'Times New Roman', Times, serif;
    background: #1F2937;
    color: white;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: column;
    height: auto;
}

/* Header */
.header{
    background-color: #1f2937;
    padding: 10px ;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.header-contents{
    display: flex;
    justify-content: space-between;
    width: 56%;
    max-width: 1200px;
    
}

.link-wrapper{
    display: flex;
    gap:10px;
}

.header p{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.header a{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

/* First Div */
.first-center{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    gap: 10px;
}

.texts{
    display: flex;
    flex-flow: column wrap;
    width: 450px;
}

.texts button{
    flex-shrink: 0;
    width: 120px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-wrap: nowrap;
    text-align: center;
    padding: 6px 10px;
    border-radius: 10px;
}

.texts h2{
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.texts p{
    font-size: 18px;
    margin: 0px;
    margin-bottom: 10px;
    color: #E5E7EB;
}

.placeholder{
    flex-grow: 0;
    width: 600px;
    display: flex;
    background: rgb(160, 160, 160);
    align-items: center;
    justify-content: center;
}

/* Second Div */
.second{
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    color: #1F2937;
    align-items: center;
    padding: 10px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    gap: 50px;
}

.second h2{
    font-size: 36px;
    font-weight: 900;
}

.image-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 80px;
    width: 100%;
}

.wrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100px;
    gap: 10px;
}

.wrapper p{
    text-align: center;
    color: #3e3e3f;
}

.box{
    width: 130px;
    height: 130px;
    border-radius: 10px;
    outline: 3px solid #3882F6;
}

/* Third Div */
.third{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.text-card{
    max-width: 900px;
}

.quote{
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}

.auTHOR{
    color: #1F2937;
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    padding-right: 80px;
}

/* Fourth Div */
.fourth{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.bluebox{
    background-color: #3882F6;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    align-items: center;
    height: 45%;
}

.button-wrapper button{
    flex-shrink: 0;
    width: 120px;
    background-color: #3882F6;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    text-wrap: nowrap;
    text-align: center;
    padding: 7px 10px;
    border-radius: 10px;
    border-color: white;
}

/*footer*/
footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 18px;
}
