html{
    font-family: Roboto, 'Times New Roman', Times, serif;
    background: #1F2937;
    color: white;
}
/* Header */
.header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 300px;
}

.header h4{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.header a{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;

}

.first{
    display: flex;
    flex-direction: row;
    margin: 0px 300px;
}

.texts{
    display: flex;
    flex-flow: column wrap;
    width: 400px;
}

.texts button{
    flex-shrink: 0;
    width: 120px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.texts h2{
    font-size: 48px;
    margin: 0px;
}

.texts p{
    font-size: 18px;
    margin: 0px;
    margin-bottom: 10px
}

.placeholder{
    flex: 1;
}
