html{
    font-family: Roboto, 'Times New Roman', Times, serif;
    background: #1F2937;
    color: white;
}
/* Header */
.header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 100px;
    margin-left: 100px;
}

.header h4{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.header a{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;

    
}

.first{
    display: flex;
}

.texts{
    display: flex;
    flex-direction: column;
}

.texts button{
    flex-shrink: 0;
}
